#!/usr/bin/env sh
PROJECT=`sudo docker compose ls --format json | jq -r --arg pwd "$PWD" '.[] | select(.ConfigFiles | contains($pwd)) | .Name'`
sudo docker run --rm -a STDIN -a STDOUT -a STDERR --network ${PROJECT}_{{ volgactf.final.network.name }} --env-file ./env/postgres-common.env --env-file ./env/postgres-volgactf-admin.env --env VOLGACTF_FINAL_TEAM_LOGO_DIR=/opt/volgactf/final/team_logo -v ./team_logo:/opt/volgactf/final/team_logo {{ volgactf.final.backend.image }} cli db:reset
RETVAL=$?
exit $RETVAL
