VOLGACTF_FINAL_STREAM_REDIS_DB=1
VOLGACTF_FINAL_STREAM_REDIS_CHANNEL_NAMESPACE=volgactf.final
VOLGACTF_FINAL_STREAM_MAX_LISTENERS=1024
VOLGACTF_FINAL_NETWORK_INTERNAL={{ volgactf.final.transient.network.internal|join(',')}}
VOLGACTF_FINAL_NETWORK_TEAM={{ volgactf.final.transient.network.teams|join(',')}}
LOG_LEVEL=info
PORT=4000
